<div class="modal-header">
	<h4 class="modal-title">Projeto</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div *ngIf="!loading">
		<div class="form-group">
			<label for="nome">Nome</label>
			<input type="text" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="projeto.name">
		</div>
		<div class="alert alert-primary" role="alert">
			Vincular equipes ao projeto
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Vincular</th>
					<th scope="col">Nome</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of equipes">
					<td><input type="checkbox" id="selecionado" [checked]="item.selected"
							(change)="selecionar(item.id)"></td>
					<th scope="row">{{item.name}}</th>
				</tr>
			</tbody>
		</table>
	</div>
	<app-loading *ngIf="loading"></app-loading>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" (click)="salvar()">Salvar</button>
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fechar</button>
</div>