<div class="modal-header">
	<h4 class="modal-title">{{name}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div *ngIf="!loading">
		<div class="form-group">
			<label for="data">Data</label>
			<input type="date" class="form-control" id="data" [ngModel]="data | date:'yyyy-MM-dd'"
				(ngModelChange)="data = $event" [disabled]="bloquearEdicaoData">
		</div>
		<div class="form-group">
			<label for="tempo">Horas Trabalhadas</label>
			<input type="number" class="form-control" id="tempo" placeholder="Horas Trabalhadas" [(ngModel)]="tempo"
				min="0" step=".1">
		</div>
		<div class="form-group">
			<label for="tempo">Horas Trabalhadas</label>
			<select name="equipe" id="equipe" class="form-control" #t (change)="selecionarEquipe(t.value)">
				<option *ngFor="let option of equipes" [value]="option.id"
					[selected]="option.id == equipeSelecionada.id">
					{{option.name}}</option>
			</select>
		</div>
	</div>
	<app-loading *ngIf="loading"></app-loading>
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-primary" (click)="salvar()">Salvar</button>
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fechar</button>
</div>