<style>
	.btn-success {
		margin-left: 5px;
	}
</style>
<h1>Projetos</h1>
<div *ngIf="!loading">
	<button type="submit" class="btn btn-primary" (click)="incluir()">Incluir</button>

	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Nome</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of projects">
				<th scope="row">{{item.name}}</th>
				<td>
					<button type="submit" class="btn btn-warning" (click)="alterar(item.id)">Editar</button>
					<button type="submit" class="btn btn-success" (click)="lancarHoras(item)">Lançar Horas</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<app-loading *ngIf="loading" descricao="carregando projetos"></app-loading>