<style>
  .perfil {
    color: gray;
    font-size: small;
  }
</style>
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Gerenciamento de Horas Trabalhadas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isLoggedIn">
            <a class="nav-link text-dark" [routerLink]="['/projetos']">Projetos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isLoggedIn && isManager">
            <a class="nav-link text-dark" [routerLink]="['/equipes']">Equipes</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isLoggedIn && isManager">
            <a class="nav-link text-dark" [routerLink]="['/colaboradores']">Colaboradores</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isLoggedIn && isManager">
            <a class="nav-link text-dark" [routerLink]="['/report']">Relatório</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isLoggedIn">
            <a class="nav-link text-dark" [routerLink]="['/login']">Login</a>
          </li>
          <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
            <li class="dropdown">
              <a href="#" class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{name}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="nav-link text-dark">
                  <span class="perfil">Perfil:</span><br> {{profile}}
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a style="cursor: pointer;" class="nav-link text-dark" (click)="logout()">Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </nav>
</header>