<h1>Olá, visitante!</h1>
<p>Bem vindo ao Gerenciamento de Horas Trabalhadas. <s><small>baita nome</small></s></p>
<p>Para começar, você pode realizar login clicando no campo superior direito ou <a [routerLink]="['/login']">clicando
    aqui</a>.</p>
<ul>
  <li>Usuário: gestor</li>
  <li>Senha: 123Mudar</li>
</ul>
<p>Com o usuário gestor, você pode cadastrar novos colaboradores. Para isso utilize o menu superior ou <a
    [routerLink]="['/colaboradores']">clique aqui</a>.</p>
<p>Após a criação dos novos colaboradores, criar algumas equipes pode ser uma boa ideia. Eu ia colocar o <a
    [routerLink]="['/equipes']">link aqui</a>, mas você já sabe onde encontrar.</p>
<p>Nesse cadastro, você informa o nome da equipe e seleciona na lista os colaboradores que serão membros
  da equipe.</p>
<p>O <a [routerLink]="['/projetos']">cadastro de projetos</a> é semelhante ao cadastro de equipes. Mas em vez de
  selecionar colaboradores, agora você vai selecionar as equipes.</p>
<p>Também é pelo menu de projetos que o lançamento de horas é feito. Ao clicar em <code>Lançar Horas</code>, um popup
  surgirá com as horas lançadas pelo usuário logado no projeto selecionado. Nesse popup é possível <code>Lançar</code>
  novos dados, <code>excluir</code> lançamentos ou <code>editá-los</code>.</p>
<p>Para lançar as horas trabalhadas em um projeto, informe a <code>data</code>, as <code>horas</code> trabalhadas e a
  <code>equipe</code>. <em>Obs: no lançamento de novos dados, caso a data selecionada já tenha sido lançada
    anteriormente no mesmo projeto, o registro existente será alterado</em>.
</p>

<div style="position: absolute; bottom: 0; right: 0;">
  <app-loading descricao="carregamento eterno"></app-loading>
</div>